$backgroundColor: #7171f3;
.app{


    .container{
        
        // Login & Register pages

        .auth{ // if you go to the "Login" and "Register" React component you will see "className='auth'", it creates a link between those pages/components and this layout
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $backgroundColor;
        }

        h1{
            font-size: 25px;
            color: rgb(255, 255, 255);
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width: 200px;
            gap: 20px;
            border-radius: 35px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button{
                padding: 10px;
                border: none;
                background-color: $backgroundColor;
                color: white;
                cursor: pointer; 
            }

            p{
                font-size: 12px;
                color: red;
                text-align: center;
            }

            span{
                display: flex;
                flex-direction: column;
                font-size: 12px;
                text-align: center;
            }

        }
    }
}