$ourBlue: #1e328d;
$ourOrange: #fc3e03;

.app{


    .container{
        
        // Login & Register pages

        .auth{ // if you go to the "Login" and "Register" React component you will see "className='auth'", it creates a link between those pages/components and this layout
            display: flex;
            flex-direction: column; // zorgt ervoor dat alle elementen onder mekaar komen te staan
            align-items: center;
            padding-top: 30px;
            height: 100vh;
            background-color: $ourBlue;
        }

        h1{
            font-size: 25px;
            color: white;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width: 200px;
            gap: 20px;
            border-radius: 35px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid $ourBlue;
                color: $ourBlue;
            }

            button{
                padding: 10px;
                border: none;
                background-color: $ourOrange;
                color: white;
                cursor: pointer; 
            }

            p{
                font-size: 12px;
                font-weight: 500; // zorgt ervoor dat de weergegeven tekst dikker is
                text-align: center;
                margin-bottom: -10px; // aantal px negatief om de standaard margin van de form tegen te werken
                color: red;
            }

            span{
                font-size: 12px;
                text-align: center;
                margin-bottom: -20px;
            }

            .linkStyle{
                font-size: 12px;
                margin: auto;
            }
        }

        // Logo

        .trademark{
            .container{ // ALEXANDRE, VRAAG VOOR ASSISTENT OF TEAM LEDEN: Als ik dit ".container" stukje weg doe, dan werkt onze code nog maar als ik de div "container" in "Trademark.jsx" weg doe, dan werkt mijn code niet meer, ook al voeg ik het daarna terug, ik moet dit ".container" stukje terug toevoegen zodat mijn code werkt 
                .logo{
                    display: flex;
                    padding-top: 20px;
                    justify-content: center;
                    background-color: $ourBlue;
                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
}